/* -------------------------------------------------------------------------------- */
/* ! Css Reset */
/* -------------------------------------------------------------------------------- */
*, *::before, *::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

img, picture {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  
}

/* -------------------------------------------------------------------------------- */
/* ! Challenge Style */
/* -------------------------------------------------------------------------------- */
:root {
  /* ! Color Sistem */
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desturated-blue: hsl(224, 23%, 55%);
  --soft-desturated-blue: hsl(224, 23%, 95%);
  --dark-blue: hsl(223, 47%, 23%);
}

body {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 500;
  color: var(--desturated-blue);
  background: var(--pale-blue);
  background-image: url(/images/pattern-background-desktop.svg);
  background-repeat: no-repeat;

 /* ! Center challenge content on the screen  */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  font-size: 1.5rem;
  font-weight: 900;
  color: #000;
  margin-bottom: .5rem;
}

h3 {
  font-size: .9375rem;
  font-weight: 700;
  color: #000;
}

.price {
  font-size: .9375rem;
  font-weight: 500;
  color: var(--desturated-blue);
}

.btn {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  font-weight: 700;
  background: var(--bright-blue);
  color: var(--very-pale-blue);
  margin-bottom: 1rem;
  padding: .5em ;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 10px 20px 0px hsl(245, 75%, 78%);
}

.btn:hover,
.btn:focus {
  background: hsla(245, 75%, 52%, .7);
}

.btn-change {
  cursor: pointer;
  font-size: 0.85rem;
  font-weight: 700;
  text-decoration: underline;
  color: var(--bright-blue);
  margin-left: auto;
}

.btn-change:hover,
.btn-change:focus {
  text-decoration: none;
}

.btn-cancel {
  cursor: pointer;
  font-size: 0.9375rem;
  font-weight: 700;
  color: var(--desturated-blue);
  margin-top: 2rem;
}

.btn-cancel:hover,
.btn-cancel:focus {
  color: #000;
}

.order-card-wrapper {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 475px;
  margin: 0 auto;
  background: var(--very-pale-blue);
  border-radius: 25px;
  overflow: hidden;
}

.order-card__content {
  width: 90%;
  margin: 2rem auto;
  text-align: center;
}

.order-card__description {
  width: 90%;
  margin: 0 auto;
}

.order-summary {
  display: inline-flex;
  gap: 1.5rem;
  align-items: center;
  width: 100%;
  margin-block: 1.5em;
  padding: 1.5em;
  background: hsl(225, 78%, 93%, .4);
  border-radius: 10px;
}


 